In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('..\\data\\processed\\final_dataset.csv', index_col=0)

In [33]:
batter_event = []
advances = []
for event in df['event text']:
    s = event.split('.')
    if len(s) > 1:
        batter_event += [s[0]]
        advances += [s[-1]]
    else:
        batter_event += s
        advances += ['']
df['batter_event'] = batter_event
df['advances'] = advances

In [14]:
games = df.gameid.unique()
batters = df['res batter'].unique()
pitchers = df['res pitcher'].unique()

In [55]:
df[df['event type']==23]

,gameid,opp,inning,batting team,outs,balls,strikes,visiting_score,home_score,res batter,...,runner on 2nd dest,runner on 3rd dest,team,year,month,day,game,date,batter_event,advances
31,BOS201004040,NYA,2,0,2,2,1,0,0,posaj001,...,0,0,BOS,2010,4,4,0,2010-04-04,HR/9/L,
40,BOS201004040,NYA,2,0,2,3,2,1,0,granc001,...,0,0,BOS,2010,4,4,0,2010-04-04,HR/89/F,
44,BOS201004040,NYA,7,1,1,2,1,7,5,pedrd001,...,0,0,BOS,2010,4,4,0,2010-04-04,HR/7/F,1-H
87,TEX201004050,TOR,3,0,2,2,2,2,0,linda001,...,0,0,TEX,2010,4,5,0,2010-04-05,HR/9/L,
110,TEX201004050,TOR,1,0,2,0,1,0,0,wellv001,...,0,0,TEX,2010,4,5,0,2010-04-05,HR/7/F,1-H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936144,ANA201909290,HOU,3,1,0,0,0,5,0,thaim001,...,0,0,ANA,2019,9,29,0,2019-09-29,HR/8/F,
936146,ANA201909290,HOU,3,0,2,0,0,3,0,gurry001,...,0,0,ANA,2019,9,29,0,2019-09-29,HR/7/F,1-H
936158,ANA201909290,HOU,2,0,0,0,2,1,0,diaza003,...,0,0,ANA,2019,9,29,0,2019-09-29,HR/8/F,
936167,ANA201909290,HOU,2,0,2,0,0,2,0,sprig001,...,0,0,ANA,2019,9,29,0,2019-09-29,HR/8/F+,
936266,TEX201909290,NYA,3,0,2,2,2,0,1,judga001,...,0,0,TEX,2019,9,29,0,2019-09-29,HR/78/F,